<div class="jumbotron home">
    <div class="container">
        <h1>Icon Bibliography</h1>
    </div>
</div>
<div class="container">
    <div class="row pad">
        <div class="col-xs-12">
            <h2>The Noun Project</h2>
            <ul>
                <li>Egg by İsmail Can Yiğitgör from the Noun Project</li>
                <li>Budapest by Andrejs Kirma from the Noun Project</li>
                <li>Vienna by Andrejs Kirma from the Noun Project</li>
                <li>Prague by Andrejs Kirma from the Noun Project</li>
                <li>Hungary by Andrejs Kirma from the Noun Project</li>
                <li>Czech Republic by Andrejs Kirma from the Noun Project</li>
                <li>Austria by Andrejs Kirma from the Noun Project</li>
            </ul>
        </div>
   </div>
</div>