<footer>
	<div class="footer">
		<div class="container" ng-controller="ScrollCtrl">
			<hr style="border-color: transparent;">
			<div class="row"> 
				<div class="col-xs-4 text-left">
					<p><a href=""><img src="img/hatchLogo.png"></a></p>
					<p><small>© Joshua Hatch<br>New Bedford, MA 02740<br>warbs4all@gmail.com</small></p>
				</div>
                <div class="col-xs-4 text-center">
                    <a class="myHover" role="button" ng-click="setActive('app')" ui-sref="app.credits">Icon Bibliography</a>
                </div>
                <div class="col-xs-4 text-right">
                    <p><a href="https://www.gate1travel.com/europe/central-europe/2018/escorted/central-europe-tours-8daffceu19.aspx"><img style="height:50px;" src="img/gate1.png" alt="Gate 1 Travel - More of the World for Less"></a></p>
                </div>
			</div>
		</div>
	</div>
</footer>