<div class="jumbotron vienna">
    <div class="container">
        <h1>Vienna, Austria</h1>
        <h2 class="lead">Days 4 & 5</h2>
        <img class="img-responsive" src="img/austria_outline.svg">
    </div>
</div>
<div class="container">
	<div class="row pad" ng-controller="viennaMapCtrl">
        <div class="col-xs-7">
            <div class="thumbnail">
                <leaflet controls="controls" defaults="defaults" geojson="geojson" lf-center="center" markers="markers" width="100%" height="525px"></leaflet>
            </div>
		</div>
		<div class="col-xs-5">
			<h1 class='text-center'>Itinerary</h1>
            <h2>Day 4</h2>
            <ul class="h3">
				<li style="padding: 5px;">Vienna City Tour</li>
                <ul class="h4">
                    <li>Hofburg Palace</li>
                    <li>the Opera House</li>
                    <li>the monument of Empress Maria Theresia</li>
                    <li>Votive Church</li>
                    <li>City Hall</li>
                    <li>Belvedere Palace</li>
                    <li>Prater Amusement Park</li>
                    <li>St. Stephen's Cathedral</li>
                </ul>
			</ul> 
            <h2>Day 5</h2>
			<ul class="h3">
				<li style="padding: 5px;">Full Day in Vienna</li>		  	
			</ul> 
		</div>
	</div>
</div>