// change navbar height 75px + 20px
@navbar-height: 95px;

// adjust variable for glyphicon font location
@icon-font-path:          "../bower_components/bootstrap/fonts/";

// change font defaults
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Space+Mono');
@font-family-sans-serif:	'Roboto', sans-serif;
@font-family-serif:			'Roboto Slab', serif;
@font-family-monospace:   	'Space Mono', monospace;
@font-family-base:        	@font-family-sans-serif;

// change navbar colors
@bgDefault      : #2e3139;
@bgHighlight    : #4a5453;
@colDefault     : #b1b667;
@colHighlight   : #f5eb76;
@dropDown       : false;
.ddm() when (@dropDown) {
    > li > .dropdown-menu {
        background-color: @bgDefault;
        > li {
            > a {
                color: @colDefault;
                &:hover,  &:focus {
                    color: @colHighlight;
                    background-color: @bgHighlight; 
                }
            }
            &.divider {
                background-color: @bgHighlight;}}}
    .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
            color: @colHighlight;
            background-color: @bgHighlight; 
        }
    }
}
.navbar-default {
    background-color: @bgDefault;
    border-color: @bgHighlight;
    .navbar-brand {
        color: @colDefault;
        &:hover, &:focus {
            color: @colHighlight; 
        }
    }
    .navbar-text {
        color: @colDefault; 
    }
    .navbar-nav {
        > li {
            > a {
                color: @colDefault;
                &:hover,  &:focus {
                    color: @colHighlight; 
                }
            }
        }
        .ddm;
        > .active {
            > a, > a:hover, > a:focus {
                color: @colHighlight;
                background-color: @bgHighlight; 
            }
        }
        > .open {
            > a, > a:hover, > a:focus {
                color: @colHighlight;
                background-color: @bgHighlight; 
            }
        }
    }
    .navbar-toggle {
        border-color: @bgHighlight;
        &:hover, &:focus {
            background-color: @bgHighlight; 
        }
        .icon-bar {
            background-color: @colDefault; 
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: @colDefault; 
    }
    .navbar-link {
        color: @colDefault;
        &:hover {
            color: @colHighlight; 
        }
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
        color: @colDefault;
        &:hover, &:focus {
            color: @colHighlight; 
            }
        }
        > .active {
        > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; 
            }
        }
    }
}